body {
	background: #8a7540
}

#banner  {
	width: 100%;
 }

#agro1 {
	width: 100%;
}
 
#agro2 {
	width: 100%;
}

h1 {
	text-align: center;
}

p {
	text-align: center;
}	

em strong {
	color: #FF0000;
}